.course {
	margin: 0 auto;
	height: 135px;
	box-sizing: content-box;
	display: inline-flex;
	justify-content: center;
	border: #e0e0e0 1px solid;
	border-bottom: #f2f3f5 8px solid;
	-webkit-box-shadow: 0 3px 6px -1px #c2c1c1;
	-moz-box-shadow: 0 3px 6px -1px #c2c1c1;
	box-shadow: 0 3px 6px -1px #c2c1c1;
}

.coursePic {
	display: inline-flex;

	img {
		height: 135px;
	}
}

.courseInfo {
	width: 500px;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 10px 30px 0 10px;
	
	p {
		text-align: left;
		font-size: 0.9em;
		font-weight: 400;
	}

	h1{
		font-size: 1.2em;
	}

	.progress {
		margin-top: -20px;
	}
}

.progress-bar {
	transition: width 1s ease-in-out;
	animation: grow 3s;
	transform-origin: 0% 50%;
}

@keyframes grow {
	from {
		transform: scale(0,1);
		
	}
	to {
		transform: scale(1,1);
	}
}