a {	
	.course {
		width: 240px;
		margin: 0 auto;
		box-sizing: content-box;
		border: #e0e0e0 1px solid;
		border-bottom: #f2f3f5 8px solid;
		-webkit-box-shadow: 0 3px 6px -1px #c2c1c1;
		-moz-box-shadow: 0 3px 6px -1px #c2c1c1;
		box-shadow: 0 3px 6px -1px #c2c1c1;
	}
}

.coursePic {
	display: inline-flex;

	img {
	}
}

.courseInfo {
	height: 200px;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 5px 15px 10px 15px;
	width: 100%;
	overflow: hidden;

	p {
		text-align: left;
		font-size: 0.9em;
		font-weight: 400;
	}

	h1 {
		display:-webkit-box!important;
		word-wrap: break-word;
		font-size: 1.2em;
		line-height: 1.2em;
		overflow: hidden;
		-webkit-line-clamp: 2;
		-moz-line-clamp: 2;
		-ms-line-clamp: 2;
		-o-line-clamp: 2;
		line-clamp: 2;
		text-overflow: ellipsis;
		text-align: left;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		-ms-box-orient: vertical;
		-o-box-orient: vertical;
		box-orient: vertical;
	}

	.progress {
		height: 20px;
		width: 100%;
	}
}

.progress-bar {

	height: 20px;
	transition: width 1s ease-in-out;
	animation: grow 3s;
	transform-origin: 0% 50%;
}

@keyframes grow {
	from {
		transform: scale(0,1);
		
	}
	to {
		transform: scale(1,1);
	}
}