.courseList {
    width: 100vw;
    a {
        width: 240px;
        margin: 15px auto;
    }

    &>a:first-child {
        margin-top: 0;
    }

    &>a:last-child {
        margin-bottom: 0;
    }
}